@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000;
}

.button {
  z-index: 1000000;
}
.button a:hover {
  background-color: white;
  border-radius: 10px 0 0 10px;
  width: 40%;
  transform: scale(1.02);
  transition: 1s linear;
}
.login {
  z-index: 1000000;
}
.hhh {
  border: 1px solid #000;
  padding: 50px;
  background-color: red;
}
.navbarr ::after {
  color: #4bf0a5;
}
.hhhh {
  background-color: red;
}
.text {
  color: #7d3c98 !important;
  font-size: 20px !important;
}
.text:hover {
  background-color: red;
  transform: scale(1.02);
}
.icon {
  border: 1px solid #7d3c98 !important;
}
.content1 {
  background: #cdb1dd;
  z-index: -1;
}
.profileImg {
  background: #7d3c98;
  border-radius: 80px 0px 0px 80px;
}
.icon2 {
  border: 1px solid #fff !important;
}
